* {
    --col: black;
    --col-light: gray;
    --bg: white;
    --accent: #3584e4;
    --accent-dark: #185197;
}

/*
@media (prefers-color-scheme: dark) {
    * {
        --col: #e1e1e1;
        --col-light: #757575;
        --bg: #222;
        --accent: #3584e4;
        --accent-dark: #185197;
    }
}
*/

body {
    color: var(--col);
    background-color: var(--bg);
}

* {
    color: inherit;
    background-color: inherit;
    font-family: "Segoe UI", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 30px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 40%;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;

    & a, a:visited {
        text-decoration: none;
        font-weight: bold;
        font-size: larger;
    }

    & a:hover {
        opacity: 0.5;
    }
}

.task-with-children {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & .open-close {
        position: absolute;
        left: -30px;
        top: 7px;
        background: var(--accent);
        border: 1px var(--accent-dark) solid;
        height: 20px;
        width: 20px;
        text-align: center;
        color: white;
        font-weight: bolder;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0.6;
    }

    & .task {
        padding: 5px 20px;
        border: 1px lightgray solid;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        gap: 6px;

        & .checkbox {
            & input {
                display: none;
            }

            & .wrapper {
                display: block;
                width: 15px;
                height: 15px;
                border-radius: 3px;
                margin: 3px;
                cursor: pointer;
                font-weight: bold;
                font-size: larger;
                background: transparent;
                color: transparent;
                border: 2px var(--accent-dark) solid;

                & span {
                    background: transparent;
                    color: transparent;
                    cursor: pointer;
                    position: relative;
                    top: -6px;
                    left: 2px;
                    user-select: none;
                }
            }

            & input:checked ~ .wrapper {
                & span {
                    color: white;
                }
            }
        }

        & .description {
            color: var(--col-light);
        }

        & .due {
            color: var(--col-light);
        }

        & .stack {
            width: 100%;

            & .line {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                & .left {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                }

                & .link {
                    color: var(--col-light);
                }
            }
        }
    }

    & .task.red .checkbox .wrapper {
        background: red;
        border-color: red;
    }

    & .task.yellow .checkbox .wrapper {
        background: #eed930;
        border-color: #eed930;
    }

    & .task.blue .checkbox .wrapper {
        background: blue;
        border-color: blue;
    }

    & .task.gray .checkbox .wrapper {
        background: gray;
        border-color: gray;
    }
}

.tag-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tag {
    padding-inline: 4px;
    text-wrap: nowrap;
    height: max-content;
    width: max-content;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    border: 1px var(--col) solid;
    padding: 5px 10px;
    border-radius: 3px;
}

textarea {
    resize: none;
}

button, input[type="button"], input[type="submit"] {
    background: var(--accent);
    color: white;
    border: 1px var(--accent-dark) solid;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    --toast-col: gray;
    --toast-bg: lightgray;

    & .toast.yellow {
        --toast-bg: yellow;
        --toast-col: orange;
    }

    & .toast.red {
        --toast-bg: #ff9a9a;
        --toast-col: #8c0000;
    }

    & .toast.green {
        --toast-bg: #8fff8f;
        --toast-col: green;
    }

    & .toast {
        border: 1px var(--toast-col) solid;
        background: var(--toast-bg);
        color: var(--toast-col);
        border-radius: 5px;
        padding: 5px 10px;
    }
}

.toggle {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.toggle > a {
    height: 22px;
    width: 35px;
    background: var(--toggle-mid);
    border-radius: 12px;
    border: 1px var(--toggle-dark) solid;
    cursor: pointer;

    & div {
        height: 18px;
        width: 20px;
        border-radius: 10px;
        position: relative;
        top: 50%;
        translate: 0 -50%;
        left: 2px;
        border: 1px var(--toggle-dark) solid;
        background: var(--toggle-light);
    }
}

.toggle.checked > a > div {
    left: 12px;
}

.toggle > span {
    color: var(--toggle-dark);
}

.toggle.blue {
    --toggle-dark: #206586;
    --toggle-mid: #37a4d9;
    --toggle-light: #caeeff;
}

.toggle.green {
    --toggle-dark: #006400;
    --toggle-mid: #41a941;
    --toggle-light: #95ff95;
}

.table-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.pagination-controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: max-content;
}

.priority-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 30px;

    .radio .priority-0 {
        --radio-color: gray;
    }

    .radio .priority-9 {
        --radio-color: blue;
    }

    .radio .priority-5 {
        --radio-color: #f8a100;
    }

    .radio .priority-1 {
        --radio-color: #cb0000;
    }

    .radio input {
        display: none;
    }

    .radio label {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 4px var(--radio-color) solid;
    }

    input:checked ~ label {
        background: var(--radio-color);
    }
}

form.task-full {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    min-width: 600px;

    & .due, .priority, .tags, .description {
        display: flex;
        flex-direction: row;
        gap: 5px;

        & > i {
            margin-inline: 20px;
        }

        & > .line {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }

    /* auto-growing textarea from https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas */

    .grow-wrap {
        display: grid;
        width: 100%;
    }

    .grow-wrap::after {
        content: attr(data-replicated-value) " ";
        white-space: pre-wrap;
        visibility: hidden;
    }

    .grow-wrap > textarea {
        resize: none;
        overflow: hidden;
    }

    .grow-wrap > textarea,
    .grow-wrap::after {
        border: 1px solid black;
        padding: 0.5rem;
        font: inherit;

        grid-area: 1 / 1 / 2 / 2;
    }

    body {
        margin: 2rem;
        font: 1rem/1.4 system-ui, sans-serif;
    }

    label {
        display: block;
    }

    .tags {
        & .new-tag-action {
            background: green !important;
            border-color: green !important;
        }

        & .new-tag {
            width: 70px;
        }
    }

    #current-tags {
        display: flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;
    }
}

.tag-edit, .removable {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    & .remove-btn {
        font-weight: bolder;
        color: #b70000;
        font-size: 20px;
        cursor: pointer;
    }
}

.new-task-button {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 10px;
    text-align: center;
    background: var(--accent);
    border: var(--accent-dark);
    padding: 20px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 20px 20px 0 0;
    line-height: 0.8;
    cursor: pointer;
    text-decoration: none;
}

.task-list-settings {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    left: 20px;
    border: 1px gray solid;
    padding: 20px;
    top: 50%;
    translate: 0 -50%;

    & div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
}
